.chat-left-user-namemsg{
    display : flex;
    cursor: pointer;
}

.chat-left-user-data{
    width: 14rem;

}
#contactName{
    font-size: 1.1rem;
    color: white;
    display: flex;
}

.chat-left-user-seen{
    display: flex;
    align-items: center;
}
.chat-left-user-seen p{
    padding-left: 5px;
    color: #a5e5ff;
}

.chat-left-user-time {
    display: flex;
    width: 6rem;
    padding-top: 3px;
    justify-content: right;
    color: #a5e5ff;
}
.chat-left-user-time p{
    padding-right: 4px;
}