.searchlist-user-namemsg{
    display : flex;
    cursor: pointer;
}

.searchlist-user-data{
    width: 14rem;

}
#contactNames{
    font-size: 1.1rem;
    color: white;
    display: flex;
}
/* 
.searchlist-user-seen{
    display: flex;
    align-items: center;
}
.searchlist-user-seen p{
    padding-left: 5px;
    color: #a5e5ff;
}

.searchlist-user-time {
    display: flex;
    width: 6rem;
    padding-top: 3px;
    justify-content: right;
    color: #a5e5ff;
}
.searchlist-user-time p{
    padding-right: 4px; */
/* } */